*{margin: 0;padding: 0;}
body{font-size: 14px;background: #bfbfbf;}
.wrap{position: relative;}
textarea{height: 10em;width: 30em;}
.tabs{display: flex;margin-bottom: 10px;align-items: center;flex-wrap:wrap}
.tab{display: flex;cursor: pointer;padding:10px;align-items: center;transition: all ease .2s;}
.tab:hover{background-color: #adadad;}
.tab.active{font-weight: bold;background-color: #9c9c9c;}
.tab >div{width: 120px;overflow: hidden;height: 30px;white-space: nowrap;line-height: 30px;font-size: 12px;}
.flex{display: flex;margin-bottom: 3px;align-items: center;}
.flex-center{display: flex;align-items: center;margin-bottom: 10px;}
.item{
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 70px 3fr;
  /* grid-template-rows: 1fr 3fr; */
}
button{padding: 0 5px;}
.textarea{height: 150px;box-sizing: border-box;width: 400px;resize:none;background: none;transition: all ease .2s;}
.textarea:hover{background-color: #fff;}
.btn{border:none;width: 25px;height: 25px;background: none;background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;cursor: pointer;filter: grayscale(100%);transition: all ease .2s;}
.btn:hover{filter: grayscale(0%);}
.btn-del{background-image: url(../images/del.png);width: 20px;height: 20px;margin-left: 5px;}
.btn-add{background-image: url(../images/add.png);}
.btn-save{background-image: url(../images/save.png);margin-left: 10px;}
.btn-send{background-image: url(../images/send.png);margin-left: 20px;width: 150px;height: 150px;}
/* body:after{pointer-events: none;content:"postBuddy";font-size: 100px;position: absolute;top: 10%;left: 0;text-align:center;opacity: .1;animation:rotate 3s linear infinite alternate;font-style: italic;transform:rotate(20deg);display:block;width: 100%;} */
.background{position: fixed;top: -30vh;left: -30vw;width: 200vw;height: 200vh;pointer-events: none;transform:rotate(20deg);opacity: .2;}
@keyframes rotate{
  0%{opacity: .2;}
  100%{opacity: .1;}
  /* 0%{transform:rotateX(0deg);}
  100%{transform:rotateX(360deg)} */
}

input[type="text"]{border:1px solid #666;border-radius: 2px;box-sizing: border-box;height: 20px;}
.input01{width: 415px;}


::-webkit-scrollbar{width: 4px;transition: all ease .5s}
::-webkit-scrollbar-track{background:transparent;transition: all ease .5s}
::-webkit-scrollbar-thumb{border-radius: 2px;transition: all ease .5s}
/* :hover::-webkit-scrollbar{width: 4px;background:#f0f0f0;} */
/* :hover::-webkit-scrollbar-track{background:#8c8c8c;} */
:hover::-webkit-scrollbar-thumb{background: #8c8c8c;}